<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Count</title>
</head>
<body>
  <h1>{{title}}</h1>
  <br><br><hr>
  <p>This page is viewed by <strong>{{views}}</strong> times</p>
  <br>
  <ul>
    {% for i in data %}
    {% if i.name != 'police'%}
      <li>
        <strong>{{i.name}}</strong>
        <p>{{i.msg}}</p>
      </li>
    {% endif %}
    {% endfor %}
  </ul>
</body>
</html>