<h1>Todos from the database.</h1>

<ul>
  {% for todo in todos %}
  <li> <strong>{{todo.pk}}</strong> {{todo.text}}</li>
  {% endfor %}
</ul>

<hr>

<form action="{% url 'todo' %}" method="post">
  {% csrf_token %}
  <label for="todo">Todo's Text:</label>
  <input type="text" name="todo">
  <input type="submit" value="Save Todo">
</form>