<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tutorial</title>
</head>
<body>
  <div>
    <h1>{{msg}}</h1>
    <span>
      <form method="POST" action="{% url 'detail' %}">
        {% csrf_token %}
        <input type="text" name="text" id="text">
        <input type="submit" value="Click Here">
      </form>
    </span>
    <a href="{% url 'home' %}">Goto Home</a>
    <a href="{% url 'count' %}">goto Count</a>
    <!-- <a href="/">Goto Home</a> -->
  </div>
</body>
</html>